.PlayButton {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  cursor: pointer;
}

.PlayButton::after {
  position: absolute;

  display: block;

  width: 100%;
  height: 100%;

  content: '';

  border-radius: 50%;
}

.PlayButton .seek-bar {
  position: absolute;
  top: 0;
  left: 0;

  transform: rotate(-90deg);
  transition: stroke-dashoffset .1s linear;

  /* for rounding purposes */
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}

.PlayButton #play,
.PlayButton.-playing #pause {
  opacity: 1;
}

.PlayButton #pause,
.PlayButton.-playing #play {
  opacity: 0;
}

.PlayButton .visual {
  position: absolute;

  display: block;

  width: 2vw;
  height: 4vw;
  margin-left: 3%;
}

.PlayButton.-playing .visual {
  margin: 0;
}
