.info {
	text-align: center;
	margin-top: -4vw;
}

#bg-left {
	position: absolute;
	z-index: -1;
	width: 25vw;
	left: 4vw;
	bottom: -10vw;
}

#bg-right {
	position: absolute;
	z-index: -1;
	width: 32vw;
	right: 2vw;
	bottom: -18vw;
}
